<header class="header">
  <div class="header-container container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo"> yachtjet </a>
      <ul class="header-button">
        <li><a href="#about" class="header-btn"> About </a></li>
        <li><a href="#yachts" class="header-btn"> Yachts </a></li>
        <li><a href="#reviews" class="header-btn"> Reviews </a></li>
      </ul>
      <ul class="header-soc-list">
        <li class="header-soc-item">
          <a href="" class="header-soc-link">
            <svg class="header-soc-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-instagram" />
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a href="" class="header-soc-link">
            <svg class="header-soc-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-youtube" />
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a href="" class="header-soc-link">
            <svg class="header-soc-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-facebook" />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <button type="button" class="heder-open-btn" id="openMenuButton">
      <svg class="heder-icon" width="28" height="28">
        <use href="/img/icons.svg#icon-burger" />
      </svg>
    </button>
  </div>
</header>
