.about-section {
  margin-bottom: 80px;
  margin-top: -50px;
}

.description {
  background: #fbfbfb;
  border-radius: 24px 24px 0 0;
}
.left {
  padding-top: 40px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.about-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}

.p-container {
  padding: 0px 20px 65px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.p-first {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
}

.p-second {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}
.korablik-photo {
  width: 335px;
  height: auto;
  margin: auto;
  border-radius: 24px 0 0 0;
  margin-top: -25px;
}

@media screen and (min-width: 768px) {
  .about-section {
    margin-bottom: 150px;
  }

  .description {
    margin: auto;
  }

  .about-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 50px;
    width: 586px;
    padding-left: 32px;
    padding-top: 50px;
  }

  .p-container {
    padding-left: 32px;
    width: 389px;
    padding-bottom: 75px;
  }

  .p-first {
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
  }

  .p-second {
    font-size: 13px;
    line-height: 1.15;
  }
  .korablik-photo {
    width: 704px;
    height: 470px;
  }
  .left {
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .description {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 50px 0 125px;
  }

  .about-title {
    padding-left: 50px;
    padding-top: 0;
  }

  .p-container {
    padding-right: 50px;
    padding-bottom: 0;

    padding-left: 0;
  }
}
.korablik-photo {
  width: 1440px;
  height: 470px;
}
